<div id="app" class="w-full h-full bg-gradient-to-b from-gray-950 to-gray-500 text-white  leading-tight tracking-tight">
    <section class="min-h-screen flex flex-col items-center justify-center ">
      <h1 class="text-5xl font-bold uppercase drop-shadow-2xl drop-shadow-white" id="title">Angular Learning</h1>
      <p class="text-xs font-bold uppercase drop-shadow-2xl drop-shadow-white" id="title">learning to use the <a href="https://lenis.darkroom.engineering/" class="underline p-1">Lenis</a> library and <a href="https://greensock.com/gsap/" class="underline p-1">GSAP</a> for animations</p>
    </section>
    <section class="min-h-screen flex flex-col items-center justify-center ">
        <h2 class="text-4xl font-bold uppercase drop-shadow-2xl drop-shadow-white" id="title">Dempserayo</h2>
        <a href="https://github.com/RayeRayeRaye" class="text-xs font-bold uppercase drop-shadow-2xl drop-shadow-white" id="title">view more projects</a>
    </section>
  </div>
  
  
    <!-- <router-outlet /> -->
