<div id="app">
    <section class="min-h-screen flex items-center justify-center bg-blue-100">
      <h1 class="text-5xl font-bold" id="title">Welcome</h1>
    </section>
    <section class="min-h-screen flex items-center justify-center bg-green-100">
      <p class="text-3xl" id="about">About me section</p>
    </section>
    <section class="min-h-screen flex items-center justify-center bg-pink-100">
      <p class="text-3xl" id="contact">Contact</p>
    </section>
  </div>
   

  
  
    <!-- <router-outlet /> -->
